footer {
  padding: 90px 20px; /* top/bottom padding bigger than default */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
.fot{
    margin-top: 2rem;
    color: white;
    text-align: start;
}

footer a{
    text-decoration: none;
    padding: auto;
}
footer p{
    margin: 3px;
}